<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">
    <title>Welcome</title>
    <link href="https://fonts.cdnfonts.com/css/playfair-display" rel="stylesheet">
    <link href="https://fonts.cdnfonts.com/css/roboto" rel="stylesheet">
    <link rel="stylesheet" href="css/arno-web-styles.css">
    </head>
    
    <script src="js/three.r134.min.js"></script>
    <script src="js/vanta.net.min.js"></script>
    
    <body>
        <div class="vanta-body">
            <span class="error-title">404</span>
            <span class="error-subtitle">Page not found</span>
        </div>
        <div class="vanta-body-container"></div>
        
    <script>
        VANTA.NET({
            el: ".vanta-body-container",
            mouseControls: true,
            touchControls: true,
            gyroControls: false,
            minHeight: 200.00,
            minWidth: 200.00,
            scale: 1.00,
            scaleMobile: 1.00,
            points: 17.00,
            maxDistance: 21.00,
            scrollSpeed: 0.50,

        })
    </script>
    
    </body>